# Dependencies
node_modules

# Next.js
.next
out
next-env.d.ts

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
 
# Spacetime server build artifacts
spacetime-server/target
spacetime-server/Cargo.lock
